<!DOCTYPE html>
<html>
  <head>
    <title>Assignment2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    HI <% current_user.email %> -
   <%= link_to "sign out" , destroy_user_session_path, method: :delete %> ----- 
   <%= link_to "Home" , '/', method: :get %>
   <%= link_to "Profile" , '/users/profile/'+current_user.id.to_s, method: :get %>

    <% end %>
    <%= yield %>

  </body>
</html>
